extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Start helping
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)

     
    h1.appTitle.bottomMargin MRC Registiration
    .row
      .col-md-6.centered.bottomMargin.topMargin
        input(class = "bottomBorder" placeholder="Volunteer Team" type="text" name="name")
    .row      
      .col-md-6.centered.bottomMargin.topMargin
        input(class = "bottomBorder" placeholder="Email*" type="text" name="name")
    .row      
      .col-md-6.centered.bottomMargin.topMargin
        input(class = "bottomBorder" placeholder="Phone" type="text" name="name")
    .row
    div.centered Expertise
    .col-md-6.centered.bottomMargin.topMargin
      div(class = "bottomBorder" class = "borderWidth") Select All That Are Relevant

      .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='categories') Categories
          label Category:
          each category in categories
              div
                  input(type='checkbox', name='categories', id=category, value=category)
                  label(for=category) #{category}
      .form-group
        .offset-md-3.col-md-7.pl-2
          button.col-md-3.btn.btn-primary(type='submit')
            i.far.fa-user.fa-sm
            | Submit
            