extends ../layout

block content
  div.pb-2.mt-2.mb-4.border-bottom
    h3 Volunteer Registration
    | Start Helping!

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)

    div.row
      div.col-md-6.centered.topMargin.bottomMargin
        input(class="bottomBorder" placeholder="Volunteer Team" type="text" name="name")
        label.col-md-6.col-form-label.font-weight-bold(for='team') Team
    div.row
      div.col-md-6.centered.topMargin.bottomMargin
        input(class="bottomBorder" placeholder="Email*" type="text" name="name" value=user.email)
        label.col-md-6.col-form-label.font-weight-bold(for='email') Email

    div.row
      div.col-md-6.centered.topMargin.bottomMargin
        input(class="bottomBorder" placeholder="Phone" type="text" name="name" value=user.phone)
        label.col-md-6.col-form-label.font-weight-bold(for='phone') Phone
    div.row
    h2.centered.col-md-6.bottomMargin Expertise
    div(style="padding-left:8px;").col-md-6.centered.bottomMargin.topMargin
      div(class="bottomBorder" class="borderWidth") Select All That Are Relevant
      div.form-group.row  
        label.col-md-6.col-form-label.font-weight-bold(for='categories') Categories
        div.flexContainer
          each category in categories
              div.item
                  input(type='checkbox' class="smallMarginRight" class="capitalize" name='categories' id=category value=category)
                  label(for=category) #{category}
    div.form-group
      div.offset-md-6.pl-2
        button.col-md-6.btn.btn-primary(type='submit')
          i.far.fa-user.fa-sm
          | Submit
